@import url("http://fonts.cdnfonts.com/css/averta-blackitalic");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Averta-Regular", sans-serif, Helvetica, Arial;
  @apply text-sm bg-[#ebebeb] text-[#333];
}
.layout-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.comic-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
  grid-gap: 14px;
  @media screen and (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px 10px;
  }
}
.shadow-modal {
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}
